# Ensemble (voting)

In [1]:
from si.data.Dataset import Dataset
from si.util.CV import *
from si.util.Util import summary
import os

In [2]:
DIR = os.path.dirname(os.path.realpath('.'))
filename = os.path.join(DIR, 'datasets/breast-bin.data')
dataset = Dataset.from_data(filename)
summary(dataset)

,A,B,C,D,E,F,G,H,I,Y
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.486409,3.437768,2.866953,1.589413,0.344778
var,7.917053,9.298082,8.819630,8.141527,4.896110,13.099601,5.937114,9.311340,2.937284,0.225906
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000

In [ ]:
dataset.toDataFrame()

In [3]:
# Use accuracy as scorring function
from si.util.Metrics import accuracy_score

### Decision Tree

In [4]:
from si.supervised.DecisonTree import DecisionTree
from si.util.CV import CrossValidation

In [5]:
dt = DecisionTree()

In [6]:
cv = CrossValidation(dt, dataset, score = accuracy_score)
cv.run()
cv.toDataFrame()

array([[0.95706619, 0.94991055, 0.96601073],
       [0.88571429, 0.95      , 0.91428571]])

### Logistic regression

In [7]:
from si.supervised.LogReg import LogisticRegression
logreg = LogisticRegression()

In [8]:
cv = CrossValidation(logreg, dataset, score = accuracy_score)
cv.run()
cv.toDataFrame()

array([[0.97316637, 0.96422182, 0.95706619],
       [0.95      , 0.97857143, 0.97857143]])

### KNN

In [9]:
from si.supervised.KNN import KNN

In [10]:
knn = KNN(7)

In [11]:
cv = CrossValidation(knn, dataset, score = accuracy_score)
cv.run()
cv.toDataFrame()

array([[0.97495528, 0.97674419, 0.97674419],
       [0.97142857, 0.97142857, 0.96428571]])

## Ensemble

In [12]:
def fvote(preds):
    return max(set(preds), key=preds.count)

In [13]:
from si.supervised.Ensemble import Ensemble
en = Ensemble([dt, logreg, knn], fvote, accuracy_score)

In [14]:
cv = CrossValidation(en, dataset, score = accuracy_score)
cv.run()
cv.toDataFrame()

array([[0.97316637, 0.97137746, 0.96958855],
       [0.97857143, 0.99285714, 0.97142857]])