# Ensemble (voting)

In [1]:
from si.data.Dataset import Dataset
from si.util.CV import CrossValidationScore
from si.util.Util import summary
import os

In [2]:
DIR = os.path.dirname(os.path.realpath('.'))
filename = os.path.join(DIR, 'datasets/breast-bin.data')
dataset = Dataset.from_data(filename)
summary(dataset)

,A,B,C,D,E,F,G,H,I,Y
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.486409,3.437768,2.866953,1.589413,0.344778
var,7.917053,9.298082,8.819630,8.141527,4.896110,13.099601,5.937114,9.311340,2.937284,0.225906
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000

In [3]:
# Use accuracy as scorring function
from si.util.Metrics import accuracy_score

### Decision Tree

In [4]:
from si.supervised.DecisonTree import DecisionTree
from si.util.CV import CrossValidationScore

In [5]:
dt = DecisionTree()

In [6]:
cv = CrossValidationScore(dt, dataset, score = accuracy_score)
cv.run()
cv.toDataFrame()

   Train Scores:  Test Scores:
0       0.958855      0.585714
1       0.946333      0.521429
2       0.946333      0.550000

### Logistic regression

In [7]:
from si.supervised.LogReg import LogisticRegression
logreg = LogisticRegression()

In [8]:
cv = CrossValidationScore(logreg, dataset, score = accuracy_score)
cv.run()
cv.toDataFrame()

   Train Scores:  Test Scores:
0       0.976744      0.521429
1       0.960644      0.521429
2       0.973166      0.600000

### KNN

In [9]:
from si.supervised.KNN import KNN

In [10]:
knn = KNN(7)

In [11]:
cv = CrossValidationScore(knn, dataset, score = accuracy_score)
cv.run()
cv.toDataFrame()

   Train Scores:  Test Scores:
0       0.982111      0.557143
1       0.971377      0.585714
2       0.976744      0.607143

## Ensemble

In [12]:
def fvote(preds):
    return max(set(preds), key=preds.count)

In [13]:
from si.supervised.Ensemble import Ensemble
en = Ensemble([dt, logreg, knn], fvote, accuracy_score)

In [15]:
cv = CrossValidationScore(en, dataset, score = accuracy_score)
cv.run()
cv.toDataFrame()

   Train Scores:  Test Scores:
0       0.969589      0.628571
1       0.969589      0.600000
2       0.969589      0.471429